
bin/Debug/0Harmony.dll
bin/Debug/Assembly-CSharp-firstpass.dll
bin/Debug/Assembly-CSharp.dll
bin/Debug/AssetRipper.VersionUtilities.dll
bin/Debug/AssetsTools.NET.dll
bin/Debug/ClientNetworkTransform.dll
bin/Debug/DissonanceVoip.dll
bin/Debug/Facepunch Transport for Netcode for GameObjects.dll
bin/Debug/Facepunch.Steamworks.Win64.dll
bin/Debug/LethalCompanyPresence.dll
bin/Debug/LethalCompanyPresence.pdb
bin/Debug/MelonLoader.dll
bin/Debug/MelonLoader.xml
bin/Debug/Mono.Cecil.dll
bin/Debug/Mono.Cecil.Mdb.dll
bin/Debug/Mono.Cecil.Pdb.dll
bin/Debug/Mono.Cecil.Rocks.dll
bin/Debug/MonoMod.RuntimeDetour.dll
bin/Debug/MonoMod.Utils.dll
bin/Debug/netstandard.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Tomlet.dll
bin/Debug/Unity.AI.Navigation.dll
bin/Debug/Unity.Animation.Rigging.dll
bin/Debug/Unity.Animation.Rigging.DocCodeExamples.dll
bin/Debug/Unity.Burst.Cecil.dll
bin/Debug/Unity.Burst.Cecil.Mdb.dll
bin/Debug/Unity.Burst.Cecil.Pdb.dll
bin/Debug/Unity.Burst.Cecil.Rocks.dll
bin/Debug/Unity.Burst.dll
bin/Debug/Unity.Burst.Unsafe.dll
bin/Debug/Unity.Collections.dll
bin/Debug/Unity.Collections.LowLevel.ILSupport.dll
bin/Debug/Unity.InputSystem.dll
bin/Debug/Unity.InputSystem.ForUI.dll
bin/Debug/Unity.Jobs.dll
bin/Debug/Unity.Mathematics.dll
bin/Debug/Unity.Multiplayer.Tools.Common.dll
bin/Debug/Unity.Multiplayer.Tools.MetricTypes.dll
bin/Debug/Unity.Multiplayer.Tools.NetStats.dll
bin/Debug/Unity.Multiplayer.Tools.NetStatsMonitor.Component.dll
bin/Debug/Unity.Multiplayer.Tools.NetStatsMonitor.Configuration.dll
bin/Debug/Unity.Multiplayer.Tools.NetStatsMonitor.Implementation.dll
bin/Debug/Unity.Multiplayer.Tools.NetStatsReporting.dll
bin/Debug/Unity.Multiplayer.Tools.NetworkProfiler.Runtime.dll
bin/Debug/Unity.Multiplayer.Tools.NetworkSolutionInterface.dll
bin/Debug/Unity.Multiplayer.Tools.Util.dll
bin/Debug/Unity.Netcode.Components.dll
bin/Debug/Unity.Netcode.Runtime.dll
bin/Debug/Unity.Networking.Transport.dll
bin/Debug/Unity.ProBuilder.Csg.dll
bin/Debug/Unity.ProBuilder.dll
bin/Debug/Unity.ProBuilder.KdTree.dll
bin/Debug/Unity.ProBuilder.Poly2Tri.dll
bin/Debug/Unity.ProBuilder.Stl.dll
bin/Debug/Unity.Profiling.Core.dll
bin/Debug/Unity.RenderPipelines.Core.Runtime.dll
bin/Debug/Unity.RenderPipelines.Core.ShaderLibrary.dll
bin/Debug/Unity.RenderPipelines.HighDefinition.Config.Runtime.dll
bin/Debug/Unity.RenderPipelines.HighDefinition.Runtime.dll
bin/Debug/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.dll
bin/Debug/Unity.Services.Authentication.dll
bin/Debug/Unity.Services.Core.Analytics.dll
bin/Debug/Unity.Services.Core.Configuration.dll
bin/Debug/Unity.Services.Core.Device.dll
bin/Debug/Unity.Services.Core.dll
bin/Debug/Unity.Services.Core.Environments.dll
bin/Debug/Unity.Services.Core.Environments.Internal.dll
bin/Debug/Unity.Services.Core.Internal.dll
bin/Debug/Unity.Services.Core.Networking.dll
bin/Debug/Unity.Services.Core.Registration.dll
bin/Debug/Unity.Services.Core.Scheduler.dll
bin/Debug/Unity.Services.Core.Telemetry.dll
bin/Debug/Unity.Services.Core.Threading.dll
bin/Debug/Unity.Services.QoS.dll
bin/Debug/Unity.Services.Relay.dll
bin/Debug/Unity.TextMeshPro.dll
bin/Debug/Unity.Timeline.dll
bin/Debug/Unity.VisualEffectGraph.Runtime.dll
bin/Debug/UnityEngine.AccessibilityModule.dll
bin/Debug/UnityEngine.AIModule.dll
bin/Debug/UnityEngine.AndroidJNIModule.dll
bin/Debug/UnityEngine.AnimationModule.dll
bin/Debug/UnityEngine.ARModule.dll
bin/Debug/UnityEngine.AssetBundleModule.dll
bin/Debug/UnityEngine.AudioModule.dll
bin/Debug/UnityEngine.ClothModule.dll
bin/Debug/UnityEngine.ClusterInputModule.dll
bin/Debug/UnityEngine.ClusterRendererModule.dll
bin/Debug/UnityEngine.ContentLoadModule.dll
bin/Debug/UnityEngine.CrashReportingModule.dll
bin/Debug/UnityEngine.DirectorModule.dll
bin/Debug/UnityEngine.dll
bin/Debug/UnityEngine.DSPGraphModule.dll
bin/Debug/UnityEngine.GameCenterModule.dll
bin/Debug/UnityEngine.GIModule.dll
bin/Debug/UnityEngine.GridModule.dll
bin/Debug/UnityEngine.HotReloadModule.dll
bin/Debug/UnityEngine.ImageConversionModule.dll
bin/Debug/UnityEngine.IMGUIModule.dll
bin/Debug/UnityEngine.JSONSerializeModule.dll
bin/Debug/UnityEngine.LocalizationModule.dll
bin/Debug/UnityEngine.NVIDIAModule.dll
bin/Debug/UnityEngine.ParticleSystemModule.dll
bin/Debug/UnityEngine.PerformanceReportingModule.dll
bin/Debug/UnityEngine.Physics2DModule.dll
bin/Debug/UnityEngine.ProfilerModule.dll
bin/Debug/UnityEngine.PropertiesModule.dll
bin/Debug/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll
bin/Debug/UnityEngine.ScreenCaptureModule.dll
bin/Debug/UnityEngine.SharedInternalsModule.dll
bin/Debug/UnityEngine.SpriteMaskModule.dll
bin/Debug/UnityEngine.SpriteShapeModule.dll
bin/Debug/UnityEngine.StreamingModule.dll
bin/Debug/UnityEngine.SubstanceModule.dll
bin/Debug/UnityEngine.SubsystemsModule.dll
bin/Debug/UnityEngine.TerrainModule.dll
bin/Debug/UnityEngine.TerrainPhysicsModule.dll
bin/Debug/UnityEngine.TextCoreFontEngineModule.dll
bin/Debug/UnityEngine.TextCoreTextEngineModule.dll
bin/Debug/UnityEngine.TextRenderingModule.dll
bin/Debug/UnityEngine.TilemapModule.dll
bin/Debug/UnityEngine.TLSModule.dll
bin/Debug/UnityEngine.UI.dll
bin/Debug/UnityEngine.UIElementsModule.dll
bin/Debug/UnityEngine.UIElementsNativeModule.dll
bin/Debug/UnityEngine.UIModule.dll
bin/Debug/UnityEngine.UmbraModule.dll
bin/Debug/UnityEngine.UNETModule.dll
bin/Debug/UnityEngine.UnityAnalyticsCommonModule.dll
bin/Debug/UnityEngine.UnityAnalyticsModule.dll
bin/Debug/UnityEngine.UnityConnectModule.dll
bin/Debug/UnityEngine.UnityCurlModule.dll
bin/Debug/UnityEngine.UnityTestProtocolModule.dll
bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
bin/Debug/UnityEngine.UnityWebRequestModule.dll
bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
bin/Debug/UnityEngine.VehiclesModule.dll
bin/Debug/UnityEngine.VFXModule.dll
bin/Debug/UnityEngine.VideoModule.dll
bin/Debug/UnityEngine.VirtualTexturingModule.dll
bin/Debug/UnityEngine.VRModule.dll
bin/Debug/UnityEngine.WindModule.dll
bin/Debug/UnityEngine.XRModule.dll
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/LethalCompanyPresence.dll
obj/Debug/LethalCompanyPresence.pdb
obj/Debug/MelonLoaderMod.csproj.AssemblyReference.cache
obj/Debug/MelonLoaderMod.csproj.CopyComplete
obj/Debug/MelonLoaderMod.csproj.CoreCompileInputs.cache
obj/Debug/MelonLoaderMod.csproj.FileListAbsolute.txt
